version: '3.8' # กำหนด docker version

services:
 api_third_party_impact_loading:
    image: api_third_party_impact_loading.1.0.0
    restart: unless-stopped 
    user: "1000:1000"
    environment:
      - STATUS_RUN=UAT_DEVELOPMENT
      - PORT=32001
      - APP_NAME=api_third_party_impact_loading
      - HOST_DB=
      - PORT_DB=
      - DATABASE_DB=
      - USER_DB=
      - PASSWORD_DB=
      - MAX=
      - IDLETIMEOUTMILLIS=
      - CONNECTIONTIMEOUTMILLIS=
      - TZ=Asia/Bangkok
      - USERNAME_BASIC_AUTH=api_cit
      - PASSWORD_BASIC_AUTH=123456



    build: . # ตำแหน่ง dockerfile
    ports:
      - "32001:32001" # map port ออกมา เหมือน -p ใน docker run 
    volumes:
      - ../logs:/usr/src/logs

